<h2>{{ title }}</h2>
        <ul>
            <li *ngFor="let course of courses"> {{course.id +' '+ course.name}}
                <button class="btn btn-primary btn-course">buy</button>
            </li>
        </ul>

        Random image: <br>
        <img [src]="imageUrl" />

        <table>
            <tr>
                <td [attr.colspan]="colSpan">table</td>
            </tr>
        </table>

        {{course.title | uppercase}} <br>
        {{course.students}} <br>
        {{course.rating | number:'1.2-2'}} <br>
        {{course.price | currency:'PLN'}} <br>
        {{course.releaseDate | date:'d.M.y'}} <br>
        {{course.description | summary }} <br>

        <button class="btn btn-primary">Button</button>
        <button class="btn btn-primary" [class.active]="isActive">Active bttn</button>
        <button class="btn btn-primary" [style.backgroundColor]="isActive ? 'blue' : 'white'">Button 3</button>
        <div (click)="onDivClicked()">  <!-- event bubbling -->
          <button class="btn btn-primary" (click)="onSave($event)">Save</button>
        </div>
        <!-- <input (keyup.enter)="onKeyUp()" /> --> <br>
       <!--  <input #email (keyup.enter)="onKeyUpEmail(email.value)" placeholder="email" /> -->
        <br>
        <input [(ngModel)]="email" (keyup.enter)="onKeyUp()"/>

<!-- <div *ngIf="courses.length > 0">
  List of courses
</div>

<div *ngIf="courses.length == 0">
  No courses yet.
</div> -->

<!-- <div *ngIf="courses.length > 0; else noCourses">List of Courses</div>
<ng-template #noCourses> No courses yet</ng-template> -->
<br>
<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList><h4>List of courses</h4></ng-template>
<ng-template #noCourses><h4> No courses yet </h4></ng-template>
<input ngModel type="text" #name="ngModel" id="courseName" name="name" placeholder="course name"/>
<button class="btn btn-success" (click)="onAdd(name.value)">Add</button>

<ul>
  <li [class.isEven]="isEven" *ngFor="let course of courses; index as i; even as isEven"> {{ i }} - {{ course.name }} <span *ngIf="isEven">even</span>
  <button class="btn btn-danger btn-course" (click)="onChange(course)">Remove</button></li>
</ul>