
.btn-primary{
    margin: 10px;
}
input{
    margin: 10px;
}
.isEven {
    background: #ECEFF1;
}
.isEven span {
    font-size: .7em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    position: relative;
    height:50px;
    line-height: 40px;
    padding: 5px;
}
.btn-course {
    position: absolute;
    right: 5px;    
    /* top: 50%; */
    /* transform: translate(0, -50%); */
}
.btn-success {
    margin: 5px 0;
    min-width: 100px;
}