<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-courses></app-courses>

  <app-author></app-author>
</div>
<!-- 
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<!-- <img [src]="imageUrl" />
<button (click)="onClick()"></button> -->

<app-favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-favorite> 

<app-card>
  <ng-container class="heading">Heading</ng-container>
  <div class="body">
    <h2>body</h2>
    <p>some content here...</p>
  </div>
</app-card>


<app-like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked"></app-like>

<!-- <div *ngIf="courses.length > 0">
  List of courses
</div>

<div *ngIf="courses.length == 0">
  No courses yet.
</div> -->

<!-- <div *ngIf="courses.length > 0; else noCourses">List of Courses</div>
<ng-template #noCourses> No courses yet</ng-template> -->

<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>List of courses</ng-template>
<ng-template #noCourses> No courses yet</ng-template>


<ul class="nav nav-pills"> 
  <li class="nav-item"><a [class.active]="viewMode == 'map'" class="nav-link" (click)="changeViewMode('map')">Map View</a></li>
  <li class="nav-item"><a [class.active]="viewMode == 'list'" class="nav-link" (click)="changeViewMode('list')">List View</a></li>
</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>